<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>owl</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/owl_images/owl_animation</string>
		<key>frame</key>
		<string>{{100, 275}, {150, 150}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/owl_images/owl_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>autoreverse</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>sheep</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/sheep_images/sheep_animation</string>
		<key>frame</key>
		<string>{{100, 398}, {150, 150}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/sheep_images/sheep_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>autoreverse</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>bat</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/bat_images/bat_animation</string>
		<key>frame</key>
		<string>{{100, 521}, {150, 150}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/bat_images/bat_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>autoreverse</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>witch</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/witch_images/witch_animation</string>
		<key>frame</key>
		<string>{{774, 152}, {150, 150}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/witch_images/witch_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>autoreverse</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>knight</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/knight_images/knight_animation</string>
		<key>frame</key>
		<string>{{774, 275}, {150, 150}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/knight_images/knight_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>autoreverse</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>soundPath</key>
				<string>sounds/knight</string>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>snail</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/snail_images/snail_animation</string>
		<key>frame</key>
		<string>{{774, 398}, {150, 150}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/snail_images/snail_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>autoreverse</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
