<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>owl</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/owl_images/owl_animation</string>
		<key>ipadFrame</key>
		<string>{{100, 275}, {150, 150}}</string>
		<key>iphone5Frame</key>
		<string>{{44, 106}, {88, 88}}</string>
		<key>iphone4Frame</key>
		<string>{{41, 106}, {88, 88}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/owl_images/owl_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>autoreverse</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>sheep</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/sheep_images/sheep_animation</string>
		<key>ipadFrame</key>
		<string>{{100, 398}, {150, 150}}</string>
		<key>iphone5Frame</key>
		<string>{{44, 158}, {88, 88}}</string>
		<key>iphone4Frame</key>
		<string>{{41, 158}, {88, 88}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/sheep_images/sheep_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/sheep_images/sheep_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>backward</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>bat</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/bat_images/bat_animation</string>
		<key>ipadFrame</key>
		<string>{{100, 521}, {150, 150}}</string>
		<key>iphone5Frame</key>
		<string>{{44, 210}, {88, 88}}</string>
		<key>iphone4Frame</key>
		<string>{{41, 210}, {88, 88}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/bat_images/bat_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>autoreverse</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>witch</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/witch_images/witch_animation</string>
		<key>ipadFrame</key>
		<string>{{774, 152}, {150, 150}}</string>
		<key>iphone5Frame</key>
		<string>{{437, 54}, {88, 88}}</string>
		<key>iphone4Frame</key>
		<string>{{351, 54}, {88, 88}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/witch_images/witch_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>autoreverse</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>knight</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/knight_images/knight_animation</string>
		<key>ipadFrame</key>
		<string>{{774, 275}, {150, 150}}</string>
		<key>iphone5Frame</key>
		<string>{{437, 106}, {88, 88}}</string>
		<key>iphone4Frame</key>
		<string>{{351, 106}, {88, 88}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/knight_images/knight_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>autoreverse</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>soundPath</key>
				<string>sounds/knight</string>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>snail</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/snail_images/snail_animation</string>
		<key>ipadFrame</key>
		<string>{{774, 398}, {150, 150}}</string>
		<key>iphone5Frame</key>
		<string>{{437, 158}, {88, 88}}</string>
		<key>iphone4Frame</key>
		<string>{{351, 158}, {88, 88}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/snail_images/snail_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/snail_images/snail_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>backward</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>goblin</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/goblin_images/goblin_animation</string>
		<key>ipadFrame</key>
		<string>{{774, 521}, {150, 267}}</string>
		<key>iphone5Frame</key>
		<string>{{437, 210}, {88, 156}}</string>
		<key>iphone4Frame</key>
		<string>{{351, 210}, {88, 156}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>highlightedImage</key>
				<string>Characters/goblin_images/goblin_highlighted.png</string>
				<key>interactive</key>
				<true/>
				<key>autoreverse</key>
				<true/>
				<key>dragable</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>palm1</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>ipadFrame</key>
		<string>{{0, 0}, {55, 55}}</string>
		<key>iphone5Frame</key>
		<string>{{0, 0}, {30, 30}}</string>
		<key>iphone4Frame</key>
		<string>{{0, 0}, {30, 30}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>Characters/palm_images/palm1.png</string>
				<key>actionsOnInitState</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playSoundWithName:</string>
						<key>soundName</key>
						<string>vasea</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>palm2</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>ipadFrame</key>
		<string>{{0, 0}, {55, 55}}</string>
		<key>iphone5Frame</key>
		<string>{{0, 0}, {30, 30}}</string>
		<key>iphone4Frame</key>
		<string>{{0, 0}, {30, 30}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>Characters/palm_images/palm2.png</string>
				<key>actionsOnInitState</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playSoundWithName:</string>
						<key>soundName</key>
						<string>vasea</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
