<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elk</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/elk_images/elk_animation</string>
		<key>ipadFrame</key>
		<string>{{621, 0}, {300, 300}}</string>
		<key>iphone5Frame</key>
		<string>{{375, 5}, {130, 130}}</string>
		<key>iphone4Frame</key>
		<string>{{286, 0}, {130, 130}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>Characters/elk_images/elk_default.png</string>
				<key>interactive</key>
				<true/>
				<key>setDefaultImageAfterFinishAnimation</key>
				<true/>
				<key>soundPath</key>
				<string>sounds/elk</string>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>tulp</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/tulp_images/tulp_animation</string>
		<key>ipadFrame</key>
		<string>{{612, 169}, {250, 250}}</string>
		<key>iphone5Frame</key>
		<string>{{326, 72}, {110, 110}}</string>
		<key>iphone4Frame</key>
		<string>{{282, 72}, {110, 110}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>Characters/tulp_images/tulp_default.png</string>
				<key>interactive</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>backgroundImage</key>
				<string>Characters/tulp_images/tulp_default.png</string>
				<key>interactive</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>backward</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>lamp</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/lamp_images</string>
		<key>ipadFrame</key>
		<string>{{98, 68}, {250, 250}}</string>
		<key>iphone5Frame</key>
		<string>{{67, 26}, {110, 110}}</string>
		<key>iphone4Frame</key>
		<string>{{61, 27}, {110, 110}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>interactive</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>interactive</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>backward</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>crack</key>
	<dict>
		<key>type</key>
		<string>StatedObject</string>
		<key>animationDirectoryPath</key>
		<string>Characters/crack_images</string>
		<key>ipadFrame</key>
		<string>{{458, 41}, {108, 45}}</string>
		<key>iphone5Frame</key>
		<string>{{261, 17}, {46, 19}}</string>
		<key>iphone4Frame</key>
		<string>{{217, 17}, {46, 19}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>interactive</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>interactive</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>backward</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>playAnimation:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>branch</key>
	<dict>
		<key>type</key>
		<string>BranchObject</string>
		<key>ipadFrame</key>
		<string>{{250, 92}, {514, 380}}</string>
		<key>iphone5Frame</key>
		<string>{{170, 40}, {225, 166}}</string>
		<key>iphone4Frame</key>
		<string>{{126, 40}, {225, 166}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>Characters/branch.png</string>
				<key>interactive</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>branchFall:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>pumpkin</key>
	<dict>
		<key>type</key>
		<string>PumpkinObject</string>
		<key>ipadFrame</key>
		<string>{{250, 92}, {514, 380}}</string>
		<key>iphone5Frame</key>
		<string>{{170, 40}, {225, 166}}</string>
		<key>iphone4Frame</key>
		<string>{{126, 40}, {225, 166}}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>Characters/pumpkin.png</string>
				<key>interactive</key>
				<true/>
				<key>autoTransition</key>
				<true/>
				<key>actions</key>
				<array>
					<dict>
						<key>actionBehavior</key>
						<string>pumpkinShake:</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
